@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply min-h-screen bg-black;
}

body {
    @apply min-h-screen bg-gradient-to-b from-black to-blue-700;
}

nav .router-link-active {  /* router-link-exact-active */
    @apply bg-blue-color text-white;
}

nav a:not(.router-link-active) {
    @apply text-indigo-200 hover:text-white hover:bg-dark-blue-color;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  @apply bg-transparent text-white;
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}
